:root{
  --base-padding : 0.8em;
  
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#jquery-container{
  font-size: var(--base-padding)
}

/* .button {
  color: #FFF;
  background-color: #5995DA;   
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;  
  border-radius: 5px;
  
  width: 200px;
  margin: 20px auto;
}  */

/* . .button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED; 
}   */
